<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>achiAnim1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{126,137}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{353,1},{126,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>achiAnim10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-12}</string>
                <key>spriteSize</key>
                <string>{126,137}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{353,1},{126,137}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>achiAnim2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-19}</string>
                <key>spriteSize</key>
                <string>{158,121}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{193,1},{158,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achiAnim3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-13}</string>
                <key>spriteSize</key>
                <string>{158,129}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{1,122},{158,129}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achiAnim4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-4}</string>
                <key>spriteSize</key>
                <string>{158,143}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{160,258},{158,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achiAnim5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{156,153}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{320,274},{156,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achiAnim6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,2}</string>
                <key>spriteSize</key>
                <string>{136,157}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{1,253},{136,157}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>achiAnim7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-4}</string>
                <key>spriteSize</key>
                <string>{144,143}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{357,129},{144,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achiAnim8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,-12}</string>
                <key>spriteSize</key>
                <string>{194,127}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{161,129},{194,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>achiAnim9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-18}</string>
                <key>spriteSize</key>
                <string>{190,119}</string>
                <key>spriteSourceSize</key>
                <string>{200,161}</string>
                <key>textureRect</key>
                <string>{{1,1},{190,119}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>achianim.png</string>
            <key>size</key>
            <string>{502,428}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c693a60792d04e710af68adfea76efe7:aa1b86076ccd0db46467bdd23c57310e:92977580c6cd6a679ce501d3c4a70ef5$</string>
            <key>textureFileName</key>
            <string>achianim.png</string>
        </dict>
    </dict>
</plist>
