<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fibo0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-185}</string>
                <key>spriteSize</key>
                <string>{192,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{1,1409},{192,400}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fibo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-6}</string>
                <key>spriteSize</key>
                <string>{192,758}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,758}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fibo10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-16,-213}</string>
                <key>spriteSize</key>
                <string>{438,344}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{195,487},{438,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fibo11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-206}</string>
                <key>spriteSize</key>
                <string>{438,358}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{195,927},{438,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fibo12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{32,-198}</string>
                <key>spriteSize</key>
                <string>{436,374}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{531,1},{436,374}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fibo13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-185}</string>
                <key>spriteSize</key>
                <string>{192,400}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{555,1319},{192,400}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fibo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-62}</string>
                <key>spriteSize</key>
                <string>{192,646}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{1,761},{192,646}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fibo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-152}</string>
                <key>spriteSize</key>
                <string>{192,466}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{541,377},{192,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fibo4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-152}</string>
                <key>spriteSize</key>
                <string>{192,466}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{541,571},{192,466}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fibo5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-37,-180}</string>
                <key>spriteSize</key>
                <string>{192,410}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{555,1125},{192,410}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fibo6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-78,-158}</string>
                <key>spriteSize</key>
                <string>{270,454}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{517,1513},{270,454}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>fibo7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-45,-143}</string>
                <key>spriteSize</key>
                <string>{334,484}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{195,1},{334,484}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fibo8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-38,-206}</string>
                <key>spriteSize</key>
                <string>{424,358}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{555,765},{424,358}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>fibo9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-28,-225}</string>
                <key>spriteSize</key>
                <string>{444,320}</string>
                <key>spriteSourceSize</key>
                <string>{500,770}</string>
                <key>textureRect</key>
                <string>{{195,1367},{444,320}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fibo.png</string>
            <key>size</key>
            <string>{1008,1812}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f81084dd5b5bc54c1453c6ad21fcd2ef:337b69c1d49b6357da23381b862547b3:7d053c1627734a80d58bb965d875d20f$</string>
            <key>textureFileName</key>
            <string>fibo.png</string>
        </dict>
    </dict>
</plist>
